* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html {
    min-height: 100%;
  }
  
  body {
    background: url(./b.jpg);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-size: cover; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  h1 {
    font-size: 2.5rem;
    font-family: cursive;
    color: rgb(105, 39, 39);
  }
  
  button {
    background-color: #184c5f;
    border: none;
    color: rgb(208, 207, 207);
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    display: block;
    margin: 1.5rem 10rem;
  }
  
  .button-container {
    display: flex;
  }  
  
  img {
    display: block;
    margin: 0 auto;
    margin-top: 1rem;
    border-radius: 10%;
    width: 18.75rem; /* set a fixed width */
    height: 18.75rem; /* set a fixed height */
    object-fit: cover; 
  }
  
  #Painting-Name-Author {
    font-family: cursive;
    font-weight: bold;
    text-align: center;
    margin: 3rem auto;
    font-size: 1.5rem;
    color:rgb(85, 1, 54)
  }
  
  #Painting-Description {
    text-align:justify;
    margin: 2rem 20rem;
    color:rgba(4, 4, 4, 0.925);
    line-height: 1.5rem;
    font-family: cursive;
    font-weight: bolder;
  }

  @media only screen and (max-width: 400px) {
    button {
        padding: 1rem 3rem;
    }
  }

  @media only screen and (max-width: 850px) {
    button {
      margin: 1.5rem 2rem;
      padding: 1rem 2rem;
    }
  
    img {
      width: 15rem;
      height: 15rem;
    }
  
    #Painting-Description {
      margin: 2rem 2rem;
    }
  }

  @media only screen and (max-width: 1300px) {

    #Painting-Description {
        margin: 2rem 5rem;
    }
  }